

<div class="fixed right-0 top-1/2 -translate-y-1/2 z-50 flex flex-col gap-3 bg-[#8ABC3A] p-1 rounded-l-lg hover:bg-[#4CD140]">
    <!-- Teléfono 
    <div class="relative group">
        <a 
            href="tel:+56229326779"
            class="w-12 h-12 flex items-center justify-center hover:scale-110 transition-transform duration-300"
            aria-label="Teléfono"
        >
            <svg
                class="w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 640"
                fill="white"
            >
                <path
                    d="M376 32C504.1 32 608 135.9 608 264C608 277.3 597.3 288 584 288C570.7 288 560 277.3 560 264C560 162.4 477.6 80 376 80C362.7 80 352 69.3 352 56C352 42.7 362.7 32 376 32zM384 224C401.7 224 416 238.3 416 256C416 273.7 401.7 288 384 288C366.3 288 352 273.7 352 256C352 238.3 366.3 224 384 224zM352 152C352 138.7 362.7 128 376 128C451.1 128 512 188.9 512 264C512 277.3 501.3 288 488 288C474.7 288 464 277.3 464 264C464 215.4 424.6 176 376 176C362.7 176 352 165.3 352 152zM176.1 65.4C195.8 60 216.4 70.1 224.2 88.9L264.7 186.2C271.6 202.7 266.8 221.8 252.9 233.2L208.8 269.3C241.3 340.9 297.8 399.3 368.1 434.2L406.7 387C418 373.1 437.1 368.4 453.7 375.2L551 415.8C569.8 423.6 579.9 444.2 574.5 463.9L573 469.4C555.4 534.1 492.9 589.3 416.6 573.2C241.6 536.1 103.9 398.4 66.8 223.4C50.7 147.1 105.9 84.6 170.5 66.9L176 65.4z"
                ></path>
            </svg>
        </a> -->
        <!-- Tooltip 
        <div class="absolute right-full mr-3 top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none">
            <div class="bg-black text-white text-sm px-4 py-2 rounded-lg whitespace-nowrap shadow-xl font-medium">
                Llámanos
                <div class="absolute right-0 top-1/2 -translate-y-1/2 translate-x-full">
                    <div class="border-8 border-transparent border-l-black"></div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- WhatsApp -->
    <div class="relative group">
        <a
            href="https://wa.me/56953281492"
            target="_blank"
            rel="noopener noreferrer"
            class="w-12 h-12 flex items-center justify-center hover:scale-110 hover:bg-[#4CD140] duration-300"
            aria-label="WhatsApp"
        >
            <svg class="w-6 h-6" fill="white" viewBox="0 0 24 24">
                <path
                    d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z"
                ></path>
            </svg>
        </a>
        <!-- Tooltip 
        <div class="absolute right-full mr-3 top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none">
            <div class="bg-black text-white text-sm px-4 py-2 rounded-lg whitespace-nowrap shadow-xl font-medium">
                Escríbenos
                <div class="absolute right-0 top-1/2 -translate-y-1/2 translate-x-full">
                    <div class="border-8 border-transparent border-l-black"></div>
                </div>
            </div>
        </div>-->
    </div>

    <!-- Email
    <div class="relative group">
        <a
            href="mailto:medicalmasalud@gmail.com"
            class="w-12 h-12 flex items-center justify-center hover:scale-110 transition-transform duration-300"
            aria-label="Email"
        >
            <svg
                class="w-6 h-6"
                fill="none"
                stroke="white"
                stroke-width="2"
                viewBox="0 0 24 24"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                ></path>
            </svg>
        </a>  -->
        <!-- Tooltip 
        <div class="absolute right-full mr-3 top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none">
            <div class="bg-black text-white text-sm px-4 py-2 rounded-lg whitespace-nowrap shadow-xl font-medium">
                Escríbenos
                <div class="absolute right-0 top-1/2 -translate-y-1/2 translate-x-full">
                    <div class="border-8 border-transparent border-l-black"></div>
                </div>
            </div>
        </div>
    </div> -->
</div>
